# =======================
# Dependencies
# =======================
node_modules/
.pnpm-store/

# =======================
# Build outputs
# =======================
dist/
build/
.out/
.next/

# =======================
# Turborepo
# =======================
.turbo/

# =======================
# Environment variables
# =======================
.env
.env.*
!.env.example

# =======================
# Logs
# =======================
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# =======================
# OS / Editor junk
# =======================
.DS_Store
Thumbs.db

# =======================
# IDE / Editor
# =======================
.vscode/
!.vscode/extensions.json

.idea/
*.iml

# =======================
# TypeScript
# =======================
*.tsbuildinfo
