# Postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=asvp
POSTGRES_PASSWORD=asvp_password
POSTGRES_DB=asvp_dev


# Redis
REDIS_URL=redis://localhost:6379


# Temporal
TEMPORAL_HOST=localhost
TEMPORAL_PORT=7233


# MinIO (S3 dev)
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin


# JWT
JWT_SECRET=changeme_locally


# Other
NODE_ENV=development