@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Disable text selection */
.no-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none;     /* IE 10+ */
  user-select: none;         /* Standard */
}


.grid-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1.4fr;
  grid-template-rows: repeat(4, 180px);
  gap: 32px;

  grid-template-areas:
    "a b feature"
    "c d feature"
    ". e feature"
    ". f g";
}

/* Card base */
.grid-card {
  background: white;
  border-radius: 16px;
  box-shadow:
    0 20px 40px rgba(0, 0, 0, 0.06),
    0 4px 12px rgba(0, 0, 0, 0.04);
}

/* Large right-side card */
.grid-card--large {
  border-radius: 20px;
}

/* Optional: subtle depth variation */
.grid-card:nth-child(odd) {
  transform: translateY(6px);
}


